<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="HBD.Framework.PluginSection" type="HBD.Framework.Plugin.Configuration.PluginSection, HBD.Framework.Plugin"/>
  </configSections>

  <appSettings>
    <add key="ShowErrorMessage" value="true"/>
  </appSettings>
  
  <loggingConfiguration name="HBD.Log" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Trace Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs\Traces\trace.log" formatter="Trace Text Formatter" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="5120" maxArchivedFiles="10"/>
      <add name="Error Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs\Errors\Error.log" formatter="Error Text Formatter" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="5120" maxArchivedFiles="10"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}
Message: {message}{newline}
Category: {category}{newline}
App Domain: {localAppDomain}{newline}
ProcessId: {localProcessId}{newline}
Process Name: {localProcessName}{newline}" name="Trace Text Formatter"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}
Message: {message}{newline}
Category: {category}{newline}
ProcessId: {localProcessId}{newline}
Process Name: {localProcessName}{newline}" name="Error Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Trace Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="Error Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="Off" name="All Events">
        <listeners>
          <add name="Trace Rolling Flat File Trace Listener"/>
        </listeners>
      </allEvents>
      <notProcessed switchValue="Off" name="Unprocessed Category">
        <listeners>
          <add name="Trace Rolling Flat File Trace Listener"/>
        </listeners>
      </notProcessed>
      <errors switchValue="Off" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Error Rolling Flat File Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  
  <HBD.Framework.PluginSection>
    <!-- Winform plugin must inherited HBD.WinForms.Controls.Core.HBDViewBase-->
    <WinFormPlugin>
      <add name="_Comparison Tools" icon="Icons\Excel.png">
        <Plugins>
          <add name="HBD.WinForms.Controls.Comparison.ComparisonView" icon="Icons\Excel.png" title="_Comparision" assemblyFile="HBD.WinForms.Controls.Comparison.dll"/>
        </Plugins>
      </add>
      <add name="_Sharepoint Tools" icon="Icons\Sharepoint.png">
        <Plugins>
          <add name="HBD.WinForms.Controls.Sharepoint.SPListView" icon="Icons\Sharepoint.png" title="_SPList View" assemblyFile="HBD.WinForms.Controls.Sharepoint.dll"/>
          <add name="HBD.WinForms.Controls.Sharepoint.SPSiteContentView" icon="Icons\Sharepoint.png" title="_SP All Site Content" assemblyFile="HBD.WinForms.Controls.Sharepoint.dll"/>
        </Plugins>
      </add>
      <add name="_View Tools" icon="Icons\View.png">
        <Plugins>
          <add name="HBD.WinForms.Controls.ExportDataView" icon="Icons\Excel.png" title="_Export Data" assemblyFile="HBD.WinForms.Controls.dll"/>
        </Plugins>
      </add>
    </WinFormPlugin>

    <!-- Feature plugins must inherited HBD.Framework.Core.IHBDFeature-->
    <FeaturePlugin>
    </FeaturePlugin>
  </HBD.Framework.PluginSection>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
